################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LibraryManagement.Backend/.vs/LibraryManagement.Backend
/LibraryManagement.Backend/LibraryManagement.API/obj
/LibraryManagement.Backend/LibraryManagement.API/bin
